<%- include("layouts/header.ejs") %>

<section class="get-in-touch p-2">
    <h1 class="title">contest details</h1>
    <form class="contact-form row">
        <div class="form-field col-lg-6">
            <label class="label pb-2" for="name">Name of the contest</label>
            <input id="name" class="input-text js-input" type="text" required />
        </div>
        <div class="form-field col-lg-6">
            <label class="label pb-2" for="name">URL</label>
            <input id="name" class="input-text js-input" type="text" required />
        </div>
        <div class="form-field col-lg-6">
            <label class="label pb-2" for="name">Hosting Website</label>
            <input id="name" class="input-text js-input" type="text" required />
        </div>

        <div class="form-field col-lg-6">
            <label class="label pb-2" for="exampleInputEmail1">Start Date</label>
            <input
                type="datetime-local"
                name="start_date"
                id="name"
                class="input-text js-input"
                type="text"
                required
            />
        </div>

        <div class="form-field col-lg-6">
            <label class="label pb-2" for="exampleInputEmail1">End Date</label>
            <input
                type="datetime-local"
                name="start_date"
                id="name"
                class="input-text js-input"
                type="text"
                required
            />
        </div>

        <div class="form-field col-lg-6 datalist-stuff">
            <label class="label pb-2" for="name">Contest Type</label>
            <input
                class="input-text js-input"
                list="hosting-plan"
                type="text"
            />

            <datalist id="hosting-plan">
                <option value="Competitive Challenges"></option>
                <option value="Hackathons"></option>
                <option value="Hiring Challenges (Jobs)"></option>
                <option value="University Challenges"></option>
            </datalist>
        </div>

        
        <div class="container">
            <div class="row">
                <div class="form-field col-lg-12">
                    <div class="form-group">
                        <label class="label" for="">Upload ID Card * </label>
                    </div>
                </div>
            </div>

            <div class="row file-upload-box">
                <div class="form-field col-lg-12">
                    <div class="form-group files">
                        <input
                            type="file"
                            id="name"
                            class="js-input form-control"
                        />
                    </div>
                </div>
            </div>
        </div>
        <div class="form-field col-lg-12 file-upload-box">
            <input class="submit-btn" type="submit" value="Submit" />
        </div>
    </form>
</section>

<section>
    <div class="container pt-5">
        <form method="POST">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"
                    >Name of contest:</label
                >
                <input
                    type="text"
                    class="form-control"
                    aria-describedby="emailHelp"
                />
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">URL:</label>
                <input
                    type="url"
                    class="form-control"
                    aria-describedby="emailHelp"
                />
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"
                    >Hosted on:</label
                >
                <input
                    type="text"
                    class="form-control"
                    aria-describedby="emailHelp"
                />
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"
                    >Start Date:</label
                >
                <input
                    type="datetime-local"
                    class="form-control"
                    name="start_date"
                    aria-describedby="emailHelp"
                />
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"
                    >End Date:</label
                >
                <input
                    type="date"
                    class="form-control"
                    aria-describedby="emailHelp"
                />
            </div>
            <div class="dropdown">
                <button
                    class="btn btn-secondary dropdown-toggle"
                    type="button"
                    id="dropdownMenuButton"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                >
                    Contest Type
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Competitive Challenges</a>
                    <a class="dropdown-item" href="#">Hackathons</a>
                    <a class="dropdown-item" href="#"
                        >Hiring Challenges (Jobs)</a
                    >
                    <a class="dropdown-item" href="#">University Challenges</a>
                </div>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"
                    >Upload image:</label
                >
                <input
                    type="file"
                    class="form-control"
                    aria-describedby="emailHelp"
                />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</section>

<%- include("layouts/footer.ejs") %>
