<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <title><%= title %></title>

        <link
            href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
            rel="stylesheet"
            id="bootstrap-css"
        />
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!-- Google Fonts -->

        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
            rel="stylesheet"
        />

        <link
            href="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1581152092/smartwizard/smart_wizard.min.css"
            rel="stylesheet"
            type="text/css"
        />
        <link
            href="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1581152091/smartwizard/smart_wizard_theme_arrows.min.css"
            rel="stylesheet"
            type="text/css"
        />

        <!-- Bootstrap CSS -->
        <link
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
            crossorigin="anonymous"
        />

        <!-- Custom Styles -->
        <link rel="stylesheet" href="css/styles.css" />

        <!-- Fontawesome CDN -->
        <script
            src="https://kit.fontawesome.com/c622614d7c.js"
            crossorigin="anonymous"
        ></script>

        <script
            type="text/javascript"
            src="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1581152197/smartwizard/jquery.smartWizard.min.js"
        ></script>
    </head>

    <body>
        <section class="get-in-touch p-2">
            <h1 class="title">complete your profile</h1>
            <form class="contact-form row">
                <div class="form-field col-lg-6">
                    <label class="label pb-2" for="name">First Name</label>
                    <input
                        id="name"
                        class="input-text js-input"
                        type="text"
                        required
                    />
                </div>
                <div class="form-field col-lg-6">
                    <label class="label pb-2" for="name">Last Name</label>
                    <input
                        id="name"
                        class="input-text js-input"
                        type="text"
                        required
                    />
                </div>
                <div class="form-field col-lg-6">
                    <label class="label pb-2" for="name">Mobile</label>
                    <input
                        id="name"
                        class="input-text js-input"
                        type="number"
                        required
                    />
                </div>

                <div class="form-field col-lg-6">
                    <label class="label pb-2" for="name">Email</label>
                    <input
                        id="name"
                        class="input-text js-input"
                        type="email"
                        required
                    />
                </div>

                <div class="form-field col-lg-6 datalist-stuff">
                    <label class="label pb-2" for="name">Country</label>
                    <input
                        class="input-text js-input"
                        list="hosting-plan"
                        type="text"
                    />

                    <datalist id="hosting-plan">
                        <option value="Competitive Challenges"></option>
                        <option value="Hackathons"></option>
                        <option value="Hiring Challenges (Jobs)"></option>
                        <option value="University Challenges"></option>
                    </datalist>
                </div>
                <div class="form-field col-lg-6 datalist-stuff">
                    <label class="label pb-2" for="name">College Name</label>
                    <input
                        class="input-text js-input"
                        list="hosting-plan"
                        type="text"
                    />

                    <datalist id="hosting-plan">
                        <option value="Competitive Challenges"></option>
                        <option value="Hackathons"></option>
                        <option value="Hiring Challenges (Jobs)"></option>
                        <option value="University Challenges"></option>
                    </datalist>
                </div>

                <div class="container pt-4">
                    <div class="row">
                        <div class="col-md-4 pt-5">
                            <label class="label">Employment Status</label>
                        </div>

                        <div class="col-md-4 pt-1">
                            <div class="form-check">
                                <input
                                    class="form-check-input"
                                    type="radio"
                                    name="gridRadios"
                                    id="gridRadios1"
                                    value="option1"
                                    checked
                                />
                                <label
                                    style="
                                        font-size: 18px;
                                        line-height: 26px;
                                        font-weight: 400;
                                        color: #5543ca;
                                    "
                                    class="form-check-label"
                                    for="gridRadios1"
                                >
                                    Student
                                </label>
                            </div>
                        </div>

                        <div class="col-md-4 pt-1">
                            <div class="form-check">
                                <input
                                    class="form-check-input"
                                    type="radio"
                                    name="gridRadios"
                                    id="gridRadios2"
                                    value="option2"
                                />
                                <label
                                    style="
                                        font-size: 18px;
                                        line-height: 26px;
                                        font-weight: 400;
                                        color: #5543ca;
                                    "
                                    class="form-check-label"
                                    for="gridRadios2"
                                >
                                    Professional
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container pt-2">
                    <div class="row">
                        <div class="form-field col-lg-12">
                            <div class="form-group">
                                <label class="label" for=""
                                    >Add Profile Picture
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row file-upload-box">
                        <div class="form-field col-lg-12">
                            <div class="form-group files">
                                <input
                                    type="file"
                                    id="name"
                                    class="js-input form-control"
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-field col-lg-12 file-upload-box">
                    <input class="submit-btn" type="submit" value="Submit" />
                </div>
            </form>
        </section>

        <script
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"
        ></script>

        <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script> -->
    </body>
</html>
